<IfModule mod_authz_core.c>
    <FilesMatch "\.(php|phtml|php3|php4|php5|php7|phar|inc)$">
        Require all denied
    </FilesMatch>
</IfModule>
<IfModule !mod_authz_core.c>
    <FilesMatch "\.(php|phtml|php3|php4|php5|php7|phar|inc)$">
        Deny from all
    </FilesMatch>
</IfModule>